/function/__pycache__
/__pycache__
/__pycache__/*
/backend/.virtualenvs
/backend/serverBakend.sock
/backend/conf.ini
/frontend/js/conf.js
frontend/js/conf.js
/frontend/status/status.json
*.pyc
frontend/js/conf.js
frontend/storage/originals-prueba-02001/*
frontend/storage/suspected-prueba-02001/*
frontend/storage/suspected-prueba_0001/*
frontend/storage/suspected-prueba_0002/*
frontend/storage/suspected-prueba_0003/*
frontend/storage/originals-prueva_002/*
frontend/storage/suspected-prueva_001/*
