/function/__pycache__
/__pycache__
/__pycache__/*
/backend/.virtualenvs
/backend/serverBakend.sock
/backend/conf.ini
/frontend/js/conf.js
/frontend/status.json
/frontend/repo/joico/download3000/*
*.pyc
